<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gadfly.chakkispring.mapper.StudentQuestionnaireMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="StudentQuestionnaireAnswerVO" type="vip.gadfly.chakkispring.vo.StudentQuestionnaireAnswerVO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="create_time" property="createTime"/>
        <collection property="answers" column="id"
                    ofType="vip.gadfly.chakkispring.vo.StudentQuestionnaireAnswerDetailVO"
                    select="vip.gadfly.chakkispring.mapper.StudentQuestionnaireQuestionAnswerMapper.selectAnswersByStudentQuestionnaireId">
        </collection>
    </resultMap>

    <select id="selectStudentQuestionnaireAnswerVO" resultMap="StudentQuestionnaireAnswerVO">
        SELECT sq.id, sq.user_id, u.username, u.nickname, sq.create_time
        FROM lin_user AS u,
             student_questionnaire AS sq
        WHERE u.id = sq.user_id
          AND sq.questionnaire_id = #{id}
          AND sq.delete_time IS NULL
          AND u.delete_time IS NULL
    </select>
</mapper>
