<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gadfly.chakkispring.mapper.StudentSignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.gadfly.chakkispring.model.StudentSignDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sign_id" property="signId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="SignResultMap" type="vip.gadfly.chakkispring.vo.StudentSignVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="sign_id" property="signId"/>
        <result column="ip" property="ip"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="selectUserSignDetailBySignId" parameterType="java.lang.Integer" resultMap="SignResultMap">
        SELECT u.id AS user_id, u.username, u.nickname, ss.sign_id, ss.ip, ss.create_time, ss.id, ss.status
        from lin_user AS u, student_sign AS ss
        WHERE
        u.id = ss.user_id AND ss.sign_id = #{signId} AND ss.status = 1
        <if test="username != null and username != ''">
            AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
        </if>
        ORDER BY ss.ip
        <if test="orderByIP">
            DESC
        </if>
    </select>

    <select id="selectLateUserSignDetailBySignId" parameterType="java.lang.Integer" resultMap="SignResultMap">
        SELECT u.id AS user_id, u.username, u.nickname, ss.sign_id, ss.ip, ss.create_time, ss.id, ss.status
        from lin_user AS u, student_sign AS ss
        WHERE
        u.id = ss.user_id AND ss.sign_id = #{signId} AND ss.status = 2
        <if test="username != null and username != ''">
            AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
        </if>
        ORDER BY ss.ip
        <if test="orderByIP">
            DESC
        </if>
    </select>

    <select id="selectCancelUserSignDetailBySignId" parameterType="java.lang.Integer" resultMap="SignResultMap">
        SELECT u.id AS user_id, u.username, u.nickname, ss.sign_id, ss.ip, ss.create_time, ss.id, ss.status
        from lin_user AS u, student_sign AS ss
        WHERE
        u.id = ss.user_id AND ss.sign_id = #{signId} AND ss.status = 3
        <if test="username != null and username != ''">
            AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
        </if>
        ORDER BY ss.ip
        <if test="orderByIP">
            DESC
        </if>
    </select>

    <select id="selectUnsignedUserDetailBySignId" parameterType="java.lang.Integer" resultMap="SignResultMap">
        SELECT u.id AS user_id, u.username, u.nickname, 0 AS sign_status
        from lin_user AS u
        WHERE
        u.id NOT IN (
            SELECT ssi.user_id FROM student_sign AS ssi
            WHERE ssi.sign_id = #{signId}
        )
        AND u.id IN (
            SELECT sc.user_id from student_class AS sc
            WHERE sc.class_id = (
                SELECT sl.class_id from sign_list AS sl
                WHERE sl.id = #{signId}
            )
        )
        <if test="username != null and username != ''">
            AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
        </if>
    </select>

    <select id="selectClassUserSignDetailBySignId" parameterType="java.lang.Integer" resultMap="SignResultMap">
        SELECT u.id AS user_id, u.username, u.nickname, ss.sign_id, ss.ip, ss.create_time, ss.`status`
        FROM lin_user AS u LEFT JOIN student_sign AS ss
        ON u.id = ss.user_id
        WHERE u.id IN (
            SELECT sc.user_id
            FROM student_class AS sc
            WHERE sc.class_id = (
                SELECT sl.class_id from sign_list AS sl
                WHERE sl.id = #{signId}
            )
        )
        AND ss.sign_id = #{signId}
        <if test="username != null and username != ''">
            AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
        </if>
        UNION
        SELECT u.id AS user_id, u.username, u.nickname, null AS sign_id, null AS ip, null AS create_time, 0 AS `status`
        FROM lin_user AS u
        WHERE
        u.id NOT IN (
            SELECT ssi.user_id FROM student_sign AS ssi
            WHERE ssi.sign_id = #{signId}
        )
        AND u.id IN (
            SELECT sc.user_id from student_class AS sc
            WHERE sc.class_id = (
                SELECT sl.class_id from sign_list AS sl
                WHERE sl.id = #{signId}
            )
        )
        <if test="username != null and username != ''">
            AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
        </if>
        ORDER BY `ip`
        <if test="orderByIP">
            DESC
        </if>
    </select>
    <select id="countClassUserSignDetailBySignId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM (
            SELECT u.id
            FROM lin_user u
            WHERE u.id IN (
                SELECT sc.user_id
                FROM student_class AS sc
                WHERE sc.class_id = (
                    SELECT sl.class_id from sign_list AS sl
                    WHERE sl.id = #{signId}
                )
            <if test="username != null and username != ''">
                AND (u.username LIKE CONCAT('%', #{username}, '%') OR u.nickname LIKE CONCAT('%', #{username}, '%'))
            </if>
            )
        ) TOTAL
    </select>
</mapper>
