<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gadfly.chakkispring.mapper.StudentClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.gadfly.chakkispring.model.StudentClassDO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="class_id" property="classId"/>
    </resultMap>

    <insert id="insertBatch">
        INSERT INTO student_class(user_id, class_id)
        VALUES
        <foreach collection="relations" item="relation" separator=",">
            (#{relation.userId}, #{relation.classId})
        </foreach>
    </insert>

</mapper>
