<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.gadfly.chakkispring.mapper.WorkExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.gadfly.chakkispring.model.WorkExtendDO">
        <id column="id" property="id"/>
        <result column="work_id" property="workId"/>
        <result column="extend" property="extend"/>
    </resultMap>


    <insert id="insertBatch">
        INSERT INTO work_extend(work_id, extend)
        VALUES
        <foreach collection="relations" item="relation" separator=",">
            (#{relation.workId}, #{relation.extend})
        </foreach>
    </insert>

</mapper>
